.meneu{
    color: white;
    font-size: 18px;
   
    padding-left: 80px;
    gap: 20px;
    font-weight: 600;
    color: blue;
}
.meneu li a{
    color: white;
}
.bg{
background-color: #3D484A;
}
.info{
    margin-left: 20px;
    text-align: left;
}
.info p{
   margin-top: -10px;
}
.info1{
    margin-left: 20px;
    text-align: left;
}
.info1 p {
   margin-top: -10px;
}

.info2 {
    margin-left: 20px;
    text-align: left;
}
.info2 P{
   margin-top: -10px;
}
.categ{
    font-size: 20px;
    background-color: #3D484A;
    font-weight: bold;
    padding: 10px;
    color: white;
    padding-left: 20px;
}
.list{
    padding: 10px 90px 10px 10px;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
    background-color: #F7F7F7;
}
.list li{
    padding-bottom: 30px;
}
.card1{
    padding-top: 20px;
}
.card2{
    padding-top: 20px;
}
.card3{
    padding-top: 20px;
}
.text{
    background-color: #3D484A;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 5px 5px ;
}
.card{
    width: 250; 
    border: none;
    
}
.circle{
  
    background-color: rgb(255, 126, 0);
    border-radius:50%;
    width: 100px;
    height: 100px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 25px 25px 25px ;
    margin-top: -120px;
    margin-left: 150px;
   
}

.list1{
    padding: 10px 90px 10px 10px;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  color: white;
    background-color: rgb(255, 126, 0);
    margin-top: -90px;
}
.list1 li{
    padding-bottom: 30px;
}
.cart1{
    margin-left: 20px;
    
}


.cart1 h3{
    font-size: 20px;
    text-align: center;
    margin-left: 40px;
    padding-top: 10px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart1 h4{
    font-size: 15px;
    margin-left: 50px;
   font-weight: bold;
    text-decoration: underline;
}
.cart1 span{
    color: rgb(146, 154, 147); 
    text-decoration:line-through; 
    font-size: 15px;
    font-weight: 300;
    padding-right: 9px;
    font-weight: bold;
}
.cart1 button{
    margin-left: 50PX;
    border: none;
    background-color: #f4f6f6;
    padding: 5PX;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cart2 h3{
    font-size: 20px;
    text-align: center;
    margin-left: 40px;
    padding-top: 10px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart2 h4{
    font-size: 15px;
    margin-left: 50px;
   font-weight: bold;
    text-decoration: underline;
}
.cart2 span{
    color: rgb(146, 154, 147); 
    text-decoration:line-through; 
    font-size: 15px;
    font-weight: 300;
    padding-right: 9px;
    font-weight: bold;
}
.cart2 button{
    margin-left: 50PX;
    border: none;
    background-color: #f4f6f6;
    padding: 5PX;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cart3 h3{
    font-size: 20px;
    text-align: center;
    margin-left: 40px;
    padding-top: 10px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart3 h4{
    font-size: 15px;
    margin-left: 50px;
   font-weight: bold;
    text-decoration: underline;
}
.cart3 span{
    color: rgb(146, 154, 147); 
    text-decoration:line-through; 
    font-size: 15px;
    font-weight: 300;
    padding-right: 9px;
    font-weight: bold;
}
.cart3 button{
    margin-left: 50PX;
    border: none;
    background-color: #f4f6f6;
    padding: 5PX;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cart4 h3{
    font-size: 20px;
    text-align: center;
    margin-left: 40px;
    padding-top: 10px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart4 h4{
    font-size: 15px;
    margin-left: 50px;
   font-weight: bold;
    text-decoration: underline;
}
.cart4 span{
    color: rgb(146, 154, 147); 
    text-decoration:line-through; 
    font-size: 15px;
    font-weight: 300;
    padding-right: 9px;
    font-weight: bold;
}
.cart4 button{
    margin-left: 50PX;
    border: none;
    background-color: #f4f6f6;
    padding: 5PX;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cart2{
    
    margin-left: 20PX;
}
.cart3{
    
    margin-left: 20PX;
}
.cart4{
    
    margin-left: 20PX;
}
.cartt{
    text-align: center;
    
    margin: 20px 0px 30px 130px;
    
}
.cartt h1{
    font-size: 26px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
}

.sitebar{
    margin-top: 20px;
   
}
.sitebar img{
    width: 260px;
    margin-top: -120px;
   
}